PORT=5000
MONGO_URI=MONGO_URI=mongodb+srv://capstone:abhigyan2005@cluster0.zfwhemb.mongodb.net/todo-app?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_here
CLIENT_ORIGIN=http://localhost:5173
NODE_ENV=development
